#form {
  width: 482px;
  height: 418px;
  background: #ffffff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#form input {
  width: 359.78px;
  height: 50px;
  padding-left: 25.22px;
  background: transparent;
  border: 0.5px solid #8a8d91;
  border-radius: 10px;
  font-family: "Inter";
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #8a8d91;
}

#input {
  margin-bottom: 11px;
}

#form a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #1877f2;
  text-decoration: none;
  margin-top: 25px;
}

#form button {
  width: 385px;
  height: 50px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

#first {
  background: #1877f2;
  border-radius: 10px;
  margin-top: 35px;
}

#second {
  background: #42b72a;
  border-radius: 10px;
}

#form div {
  margin-top: 35.23px;
  padding-top: 22px;
  border-top: 0.5px solid #8a8d91;
}

@media screen and (max-width: 500px) {
  #form {
    width: 95%;
  }

  #form input {
    width: 80%;
  }

  #form #first {
    width: 80%;
  }

  #form div{
    width: 80%;
    display: flex;
  }

  #form #second {
    width: 100%;
  }
}
